<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        button {
            outline: none;
            margin: 0 auto;
            margin-top: 0.5rem;
            background-color: #101c77;
            border: none;
            padding: 0.5rem;
            border-radius: 0.6rem;
            color: #fff;
            cursor: pointer;
            transition: 0.3s background-color linear;
            cursor: pointer;
        }

        button:hover {
            background-color: #4e5dd4;
            outline: none;
        }


        button p {
            color: #fff;
            font-size: 1.2rem;
        }

        a{
            color: #fff;
            text-decoration: none;
        }

        p, 
        h5{
            color: #17252a ;
        }
    </style>
</head>
<body>

    <section>
        <h5>Hi {{fullName}}</h5>
        <p>
          A password reset event has been triggered. The password reset window is limited to 20 minutes.
          If you do not reset your password within 20 minutes, you will need to submit a new request.
        </p>

        <p>To complete the password reset process, click Reset Password button below</p>

        <a href={{resetPasswordLink}}><button><p>Reset Password</p></button></a>
    </section>
    
</body>
</html>