<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        button {
            margin-top: 2rem;
            background-color: #101c77;
            padding: 1rem;
            border-radius: 0.4rem;
        }

        a{
            color: #fff;
            font-size: 1.2rem;
            text-decoration: none;
        }
    </style>
</head>
<body>

    <section>
        <h5>Hi {{fullName}}</h5>
        <p>
            A password reset event has been triggered. The password reset window is limited to 20 minutes.
        </p>

        <p>If you do not reset your password within 20 minutes, you will need to submit a new request.</p>

        <p>To complete the password reset process, click Reset Password button below</p>

        <button><a href={{resetPasswordLink}}>Reset Password</a></button>
    </section>
    
</body>
</html>