<!DOCTYPE html>
<html lang="en" style="height: 450px; width: 420px">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/multiselect.css" />
  </head>
  <body>
    <section id="trellohead">
      <button class="back-btn">Menu</button>
      <h1 id="tme">TME</h1>
    </section>
    <main id="mainContentCont" class="main">
      <header id="headersHide">
        <div id="member-name">
          <form id="survey-form">
            <label
              >Trello-name:
              <input
                type="text"
                id="resultoo"
                size="18px"
                placeholder="Enter Email"
                style="
                  height: 20px;
                  font-size: 17px;
                  border: 1px solid #9397e0;
                  border-radius: 6px;
                  padding: 0px 12px;
                  outline: none;
                " />
            </label>
          </form>
        </div>
        <h1 id="signin">Select Boards To Add Member To</h1>

        <section style="position: relative; margin-top: 5px; margin-left: 23px">
          <input
            id="search"
            type="text"
            placeholder="Search Boards ..."
            style="
              height: 20px;
              font-size: 16px;
              border: 1px solid #1c2061;
              border-radius: 6px;
              width: 320px;
              padding: 0px 12px;
              outline: none;
            " />
        </section>

        <section id="selective-btn">
          <section class="selecting-btn-cont">
            <button id="select-all">Select All</button>
            <button id="clear-select">Deselect All</button>
          </section>

          <div style="margin-top: 8px; margin-bottom: 10px">
            <button id="deleting-btn">Add Member</button>
            <div id="para"></div>
            <div
              id="email-error2"
              style="
                display: none;
                position: absolute;
                top: 65px;
                width: 190px;
                height: 20px;
                margin-left: 200px;
                color: rgb(255, 26, 26);
                font-size: 16px;
                font-weight: 700;
              "></div>
          </div>
        </section>
      </header>

      <div id="success"></div>
      <div id="sendin-progress2"></div>
      <div id="fetch-progress2" style="font-size: 17px"></div>
      <div id="sendin-progress" style="font-size: 17px"></div>

      <div id="email-error"></div>

      <div id="addmail-error"></div>
      <div id="addmail-error2"></div>
      <div id="service-error"></div>
      <div id="service-error2"></div>

      <!-- <nav id="sameline"></nav> -->
    </main>

    <div class="loading" id="loading">
      <div class="barHolder">
        <div id="bar"></div>
      </div>
      <h2 id="progressBarTitle" class="title"></h2>
      <h3 id="successStatusTitle" class="title"></h3>
      <h3 id="completedStatus" class="title"></h3>
      <section class="btn-section" id="btnSection">
        <a href="/"> <button class="okay-btn" id="okay">Okay</button></a>
        <a href="/">
          <button class="cancel-btn" id="cancelBtn">Cancel</button>
        </a>
      </section>
    </div>

    <script src="isCheckboxChecked.js"></script>
    <script src="execution.js"></script>
    <script src="multiselect.js"></script>
    <script src="searchbar.js"></script>
    <script src="progressBar/duringExecution.js"></script>
    <script src="progressBar/starting.js"></script>
  </body>
</html>
