<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New update - Work for Reputation</title>
    <style>
      body { font-size: 15px; background-color: rgba(222, 225, 228, 0.2);
      font-family: "Segoe UI", sans-serif; margin: 0; line-height: 24px; } table
      { max-width: 600px; width: 100%; margin: 0 auto; background-color: #fff;
      border-collapse: collapse; } td { padding: 10px; color: hsl(238, 29%,
      16%); } h2 { text-align: center; } p { font-size: 14px; line-height: 1.5;
      margin-bottom: 14px; font-weight: normal; } a#resetPasswordHref {
      text-decoration: none; } button { width: 100%; /* Make button full-width
      */ max-width: 200px; /* Limit max width */ border-radius: 0.7rem;
      margin-top: 1rem; border: 0; padding: 1rem; font-size: 1.2rem; text-align:
      center; background-color: #14a800; color: #fff; cursor: pointer;
      touch-action: manipulation; transition: 0.3s ease-in-out; } ul {
      list-style: none; padding-left: 0; } ul li { margin-bottom: 15px; } ul li
      img { margin-bottom: 20px; max-width: 100%; border: 1px solid gray;
      border-radius: 5px; /* Ensure images scale */ height: auto; /* Maintain
      aspect ratio */ } .logo-container img { width: 150px; height: auto; /*
      Maintain aspect ratio */ display: block; margin: 0 auto; /* Center logo */
      } a#resetPasswordHref:hover { background-color: #70c964; } /* Media
      Queries for Mobile Responsiveness */ @media (max-width: 600px) { body {
      font-size: 14px; /* Slightly smaller font */ } td { padding: 8px; /* Less
      padding on small screens */ } button { width: 90%; /* Wider button on
      mobile */ } h2 { font-size: 1.9em; /* Slightly larger heading */ margin:
      2rem 0; } p { font-size: 13px; /* Smaller text on mobile */ } } h2{
      text-align: left; }
    </style>
  </head>
  <body style="background-color: rgba(222, 225, 228, 0.2)">
    <table>
      <tr class="logo-container">
        <td align="center">
          <img
            src="https://i.ibb.co/6Yg7Qrc/new-wfr-email-logo.jpg"
            alt="wfr toolkit logo"
          />
        </td>
      </tr>

      <section>
        <p>
          Hi
          {{customerName}}, hope you're finding our tool useful in crafting
          personalized proposals!
        </p>

        <p>
          We've just rolled out a few enhancements to make your work even more
          efficient, especially when dealing with multiple client names.
        </p>

        <p>Here’s how the new functionality works:</p>

        <h2>What's New?</h2>

        <p>
          <b>Number of times each name was mentioned:</b>
          You'll now see the number of times each client name was mentioned in
          the feedback history.
        </p>

        <p>
          This number is placed immediately after the client name e.g
          <b>"James -6".</b>

        </p>

        <p>
          This means the name
          <b>"James"</b>
          was mentioned 6 times in the feedback history.</p>

        <p>
          This
          <b>new data point</b>
          will help you craft the most effective greeting every time. Here's how
          to use it:
        </p>

        <article>
          <h2>Scenario 1: Multiple names, same number of times they were
            mentioned</h2>

          <p>
            If all the names retrieved names were mentioned the same number of
            times in feedback, like in the picture below.
          </p>

          <p>
            <img
              src="https://i.ibb.co/4pQSsZQ/no-of-occurences-2-across-all-callout.png"
              alt="same number of times it was mentioneds"
            />
          </p>

          <p>They're likely a team</p>

          <p>In this case, <b>use "Hi"</b> for personalization</p>
        </article>
        <article>
          <h2>Scenario 2: One Name Dominates</h2>

          <p>
            If the number of times the first name was mentioned in the feedback
            totally dominates the other, like in the picture below.
          </p>

          <p>
            <img
              src="https://i.ibb.co/0fwhQQH/no-of-occurence12to1-callout.png"
              alt="dominating no of ocuurence"
            />
          </p>

          <p>
            <b>"Marc"</b>
            number of times it was mentioned - 12, totally dominates
            <b>"Nelson"</b>
            number of times it was mentioned - 1.
          </p>

          <p>There's a 95% chance <b>"Marc"</b> runs the account.</p>

          <p>
            In this scenario,
            <b>use the dominating name <b>("Marc")</b></b>
            for personalization
          </p>
        </article>

        <p>
          These strategies, combined with our new insights, will help you
          confidently address your clients and make your cover letters more
          personalized and effective.
        </p>

        <p>
          Let us know how these updates are working for you, and as always, feel
          free to reach out with any feedback!
        </p>
        <p>
          <b>P.S. This feature is now live, so be sure to try it out when next
            you access the proposal submission page.
          </b>
        </p>

        <article>
          <h2>Important Update: Changes Starting Wednesday, October 16th</h2>

          <p>
            From Wednesday, October 16th, some of our features will move to paid
            plans, and you’ll need to purchase credits to access them. All other
            features will remain free, but here’s what will require credits:
          </p>

          <ul>
            <li>
              <p><b>Auto-fetching of client names</b></p>
            </li>
            <li>
              <p><b>Summary of what it’s like working with a client</b></p>
            </li>
            <li>
              <p><b>Text templates for quick copy</b></p>
            </li>
            <li>
              <p><b>Viewing "About client" details</b></p>
            </li>
          </ul>

          <h2>How Credits Work:</h2>

          <p>
            <b>Credits</b>
            are only deducted when you
            <b>access</b>
            the
            <b> proposal submission page.</b>
          </p>

          <p>
            That means you’ll only be
            <b>charged</b>
            when you’re closest to submitting a proposal and most
            productive—taking that final step to land a job on Upwork.
          </p>

          <p>
            And considering you spend about
            <b>₦2500</b>
            when you use
            <b>10 connects</b>
            to apply to a job.
          </p>

          <p>
            Our credits are super affordable for any regular Upwork freelancer!
            It’s just about
            <b>₦12</b>
            for each time you access the proposal submission page.
          </p>
        </article>

        <p>Best regards,</p>

        <p>WFR Toolkit Team</p>
      </section>
    </table>
  </body>
</html>