<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New update - Work for Reputation</title>
    <style>
      body { font-size: 15px; background-color: rgba(222, 225, 228, 0.2);
      font-family: "Segoe UI", sans-serif; margin: 0; line-height: 24px; } table
      { max-width: 600px; width: 100%; margin: 0 auto; background-color: #fff;
      border-collapse: collapse; } td { padding: 10px; color: hsl(238, 29%,
      16%); } h2 { text-align: left; } td h2 { font-size: 1.5em; /* Adjusted
      font size for h2 in td */ margin: 2rem 0; } td p { font-size: 14px;
      line-height: 1.5; margin-bottom: 14px; font-weight: normal; }
      a#resetPasswordHref { text-decoration: none; } button { width: 100%;
      max-width: 200px; border-radius: 0.7rem; margin-top: 1rem; border: 0;
      padding: 1rem; font-size: 1.2rem; text-align: center; background-color:
      #14a800; color: #fff; cursor: pointer; touch-action: manipulation;
      transition: 0.3s ease-in-out; } ul { list-style: none; padding-left: 0; }
      ul li { margin-bottom: 15px; } ul li img { margin-bottom: 20px; max-width:
      100%; border: 1px solid gray; border-radius: 5px; height: auto; }
      .logo-container img { width: 150px; height: auto; display: block; margin:
      0 auto; } a#resetPasswordHref:hover { background-color: #70c964; } /*
      Media Queries for Mobile Responsiveness */ @media (max-width: 600px) {
      body { font-size: 16px; /* Increased font size for better readability */ }
      td { padding: 12px; /* More padding on small screens */ } button { width:
      90%; /* Wider button on mobile */ } td h2 { font-size: 2em; /* Increased
      heading size */ } td p { font-size: 15px; /* Larger text on mobile */
      line-height: 1.6; /* Increased line height for better readability */ } }
    </style>
  </head>
  <body style="background-color: rgba(222, 225, 228, 0.2)">
    <table>
      <tr class="logo-container">
        <td align="center">
          <img
            src="https://i.ibb.co/6Yg7Qrc/new-wfr-email-logo.jpg"
            alt="wfr toolkit logo"
          />
        </td>
      </tr>

      <tr>
        <td>
          Hi
          {{customerName}}, hope you're finding our tool useful in crafting
          personalized proposals!
        </td>
      </tr>

      <tr>
        <td>
          We've just rolled out a few enhancements to make your work even more
          efficient, especially when dealing with multiple client names.
        </td>
      </tr>

      <tr>
        <td>Here's how the new functionality works:</td>
      </tr>

      <tr>
        <td>
          <h2>What's New for multiple client names?</h2>
        </td>
      </tr>

      <tr>
        <td>
          <b>Number of times each name was mentioned:</b>
          You'll now see the number of times each client name was mentioned in
          the feedback history.
        </td>
      </tr>

      <tr>
        <td>
          This number is placed immediately after the client name e.g
          <b>"James -6".</b>
        </td>
      </tr>

      <tr>
        <td>
          This means the name
          <b>"James"</b>
          was mentioned
          <b>6 times</b>
          in the feedback history.
        </td>
      </tr>

      <tr>
        <td>
          This
          <b>new data point</b>
          will help you craft the most effective greeting every time.
        </td>
      </tr>

      <tr>
        <td>Here's how to use it:</td>
      </tr>

      <tr>
        <td>
          <h2>Scenario 1: Multiple names, same number of times they were
            mentioned</h2>
        </td>
      </tr>

      <tr>
        <td>
          If all the names retrieved names were mentioned the same number of
          times in feedback, like in the picture below where
          <b>Nitish, Ashani, and Deep </b>
          were all mentioned
          <b>twice(2)</b>
        </td>
      </tr>

      <tr>
        <td>
          <img
            src="https://i.ibb.co/4pQSsZQ/no-of-occurences-2-across-all-callout.png"
            alt="same number of times it was mentioneds"
          />
        </td>
      </tr>

      <tr>
        <td>This means they're likely a team of people running the account</td>
      </tr>

      <tr>
        <td>In such case, <b>use "Hi"</b> for personalization</td>
      </tr>

      <tr>
        <td>
          <h2>Scenario 2: One Name Dominates</h2>
        </td>
      </tr>

      <tr>
        <td>
          If the number of times the first name was mentioned in the feedback
          totally dominates the other, like in the picture below where the name
          <b>Marc </b>
          totally dominates
          <b>Nelson</b>
        </td>
      </tr>

      <tr>
        <td>
          <img
            src="https://i.ibb.co/0fwhQQH/no-of-occurence12to1-callout.png"
            alt="dominating no of ocuurence"
          />
        </td>
      </tr>

      <tr>
        <td>
          Number of times
          <b>Marc</b>
          was mentioned -
          <b>12</b>, totally dominates number of times
          <b>Nelson</b>
          was mentioned -
          <b>1</b>.
        </td>
      </tr>

      <tr>
        <td>This means there's a 95% chance <b>"Marc"</b> runs the account.</td>
      </tr>

      <tr>
        <td>
          In this scenario,
          <b>use the dominating name "Marc"</b>
          for personalization
        </td>
      </tr>

      <tr>
        <td>
          These strategies, combined with our new insights, will help you
          confidently address your clients and make your cover letters more
          personalized and effective.
        </td>
      </tr>

      <tr>
        <td>
          Let us know how these updates are working for you, and as always, feel
          free to reach out with any feedback!
        </td>
      </tr>
      <tr>
        <td>
          <b>P.S. This feature is now live, so be sure to try it out when next
            you access the proposal submission page.</b>
        </td>
      </tr>

      <tr>
        <td>
          <h2>Important Update: Changes Starting Wednesday, October 16th</h2>
        </td>
      </tr>

      <tr>
        <td>
          <b>From Wednesday, October 16th,</b>
          some of our features will move to
          <b>paid plans,</b>
          and you'll need to purchase credits to access them.
        </td>
      </tr>

      <tr>
        <td>All other features will remain free, but here are the features that
          will require credits:</td>
      </tr>

      <tr>
        <td>
          <ul style="list-style: disc;">
            <li>
              <b>Auto-fetching of client names</b>
            </li>
            <li>
              <b>Summary of what it's like working with a client</b>
            </li>
            <li>
              <b>Text templates for quick copy</b>
            </li>
            <li>
              <b>Viewing "About client" details</b>
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>
          <h2>How Credits Work:</h2>
        </td>
      </tr>

      <tr>
        <td>
          You will be charged
          <b>₦12</b>
          for each time you access the proposal submission page.
        </td>
      </tr>

      <tr>
        <td>Best regards,</td>
      </tr>

      <tr>
        <td>WFR Toolkit Team</td>
      </tr>
    </table>
  </body>
</html>