<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paid plans now - Work for Reputation</title>
    <style>
      body { font-size: 15px; background-color: rgba(222, 225, 228, 0.2);
      font-family: "Segoe UI", sans-serif; margin: 0; line-height: 24px; } table
      { max-width: 600px; width: 100%; margin: 0 auto; background-color: #fff;
      border-collapse: collapse; } td { padding: 10px; color: hsl(238, 29%,
      16%); } h2 { text-align: center; } p { font-size: 14px; line-height: 1.5;
      margin-bottom: 14px; font-weight: normal; } a#resetPasswordHref {
      text-decoration: none; } button { width: 100%; max-width: 200px;
      border-radius: 0.7rem; margin-top: 1rem; border: 0; padding: 1rem;
      font-size: 1.2rem; text-align: center; background-color: #14a800; color:
      #fff; cursor: pointer; touch-action: manipulation; transition: 0.3s
      ease-in-out; } ul { list-style: none; padding-left: 0; } ul li {
      margin-bottom: 15px; } ul li img { margin-bottom: 20px; max-width: 100%;
      height: auto; border: 1px solid gray; border-radius: 5px; }
      .logo-container img { width: 150px; height: auto; display: block; margin:
      0 auto; } a#resetPasswordHref:hover { background-color: #70c964; } /*
      Media Queries for Mobile Responsiveness */ @media (max-width: 600px) {
      body { font-size: 14px; } td { padding: 8px; } button { width: 90%; } h2 {
      font-size: 1.5em; } p { font-size: 13px; } img { max-width: 100%; height:
      auto; } } /* Ensure links have underline */ a { text-decoration:
      underline; }
    </style>
  </head>
  <body style="background-color: rgba(222, 225, 228, 0.2)">
    <table>
      <tr class="logo-container">
        <td align="center">
          <img
            src="https://i.ibb.co/6Yg7Qrc/new-wfr-email-logo.jpg"
            alt="wfr toolkit logo"
          />
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Hi
            {{customerName}}, Great news! As part of our WFR Toolkit community,
            we're giving you
            <b>20 free credits</b>
            to try out our premium features, designed to make your freelance
            journey smoother and more efficient.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Here's how to <b>check your credits balance :</b></p>
          <img
            src="https://i.ibb.co/cCRs5Hx/check-creidts-balance.gif"
            alt=" check your credits balance on the extension homepage gif video"
          />
        </td>
      </tr>

      <tr>
        <td>
          <article>
            <h2>Here's how credits works:</h2>

            <p>
              <b>Credits</b>
              are only
              <b>deducted</b>
              when you
              <b> access the proposal submission </b>
              page.
            </p>

            <p>
              But don't worry—we've got a few exceptions where
              <b> your credits won't be deducted </b>
              when you access the proposal submission page:
            </p>

            <ul style="list-style: disc">
              <li>
                <p>
                  <b>No job history:</b>
                  If the client doesn't have any job history, your credits
                  remain untouched.
                </p>
              </li>
              <li>
                <p>
                  <b>Fetching errors:</b>
                  If there's an issue, like poor internet connection, that
                  prevents us from fetching the client's name, your credits
                  won't be used.
                </p>
              </li>
              <li>
                <p>
                  <b>Previously accessed pages:</b>
                  If you
                  <b>revisit</b>
                  a proposal submission page
                  <b>you've already accessed, </b>
                  no credits will be deducted.
                </p>
              </li>
              <li>
                <p><b>Viewing "About client" details</b></p>
              </li>
            </ul>

            <p>
              <b>Credits</b>
              are only deducted when you
              <b>access</b>
              the
              <b>proposal submission page.</b>
            </p>

            <p>
              Take advantage of these
              <b>20 free credits</b>
              to explore powerful benefits like:
            </p>

            <ul style="list-style: disc">
              <li>
                <p><b>Auto-fetching of client names</b></p>
              </li>
              <li>
                <p><b>Summary of what it's like working with a client</b></p>
              </li>
              <li>
                <p><b>Text templates for quick copy</b></p>
              </li>
              <li>
                <p><b>Viewing "About client" details</b></p>
              </li>
            </ul>
            <p>
              Once your
              <b>free credits</b>
              are used up, you can easily purchase more in the
              <b> pricing section on the extension homepage</b>
              to keep enjoying these features!
            </p>

            <p>Here's how to <b> navigate to the pricing section : </b></p>
            <img
              src="https://i.ibb.co/3mRL6rx/go-to-pricing-gif-video.gif"
              alt="go to pricing page on the extension"
            />

            <p>
              Questions or concerns? Get in touch with us at
              workforreputation@gmail.com
            </p>
            <p>Best regards,</p>
            <p>WFR Toolkit Team</p>
          </article>
        </td>
      </tr>
    </table>
  </body>
</html>