<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paid plans now - Work for Reputation</title>
    <style>
      body { font-size: 15px; background-color: rgba(222, 225, 228, 0.2);
      font-family: "Segoe UI", sans-serif; margin: 0; line-height: 24px; } table
      { max-width: 600px; width: 100%; margin: 0 auto; background-color: #fff;
      border-collapse: collapse; } td { padding: 10px; color: hsl(238, 29%,
      16%); } h2 { text-align: center; } p { font-size: 14px; line-height: 1.5;
      margin-bottom: 14px; font-weight: normal; } a#resetPasswordHref {
      text-decoration: none; } button { width: 100%; max-width: 200px;
      border-radius: 0.7rem; margin-top: 1rem; border: 0; padding: 1rem;
      font-size: 1.2rem; text-align: center; background-color: #14a800; color:
      #fff; cursor: pointer; touch-action: manipulation; transition: 0.3s
      ease-in-out; } ul { list-style: none; padding-left: 0; } ul li {
      margin-bottom: 15px; } ul li img { margin-bottom: 20px; max-width: 100%;
      height: auto; border: 1px solid gray; border-radius: 5px; }
      .logo-container img { width: 150px; height: auto; display: block; margin:
      0 auto; } a#resetPasswordHref:hover { background-color: #70c964; } /*
      Media Queries for Mobile Responsiveness */ @media (max-width: 600px) {
      body { font-size: 14px; } td { padding: 8px; } button { width: 90%; } h2 {
      font-size: 1.5em; } p { font-size: 13px; } img { max-width: 100%; height:
      auto; } } /* Ensure links have underline */ a { text-decoration:
      underline; }
    </style>
  </head>
  <body style="background-color: rgba(222, 225, 228, 0.2)">
    <table>
      <tr class="logo-container">
        <td align="center">
          <img
            src="https://i.ibb.co/6Yg7Qrc/new-wfr-email-logo.jpg"
            alt="wfr toolkit logo"
          />
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Hi
            {{customerName}}, we're excited to announce some important changes
            coming to WFR Toolkit, designed to help you work smarter and land
            more Upwork jobs!
          </p>
        </td>
      </tr>

      <tr>
        <td>
          <article>
            <p>
              <b>Starting Wednesday, October 16th,</b>
              some of our features will move to
              <b>paid plans,</b>
              and you'll need to purchase credits to access them.
            </p>

            <p>
              All other features will remain free, but here are the features
              that will require credits:
            </p>

            <ul style="list-style: disc">
              <li>
                <p><b>Auto-fetching of client names</b></p>
              </li>
              <li>
                <p><b>Summary of what it's like working with a client</b></p>
              </li>
              <li>
                <p><b>Text templates for quick copy</b></p>
              </li>
              <li>
                <p><b>Viewing "About client" details</b></p>
              </li>
            </ul>

            <h2>How Credits Work:</h2>

            <p>
              <b>Credits</b>
              are only deducted when you
              <b>access</b>
              the
              <b>proposal submission page.</b>
            </p>

            <p>
              That means you'll only be
              <b>charged</b>
              when you're closest to submitting a proposal and most
              productive—taking that final step to land a job on Upwork.
            </p>

            <p>
              And considering you spend about
              <b>₦2500</b>
              when you use
              <b>10 connects</b>
              to apply to a job.
            </p>

            <p>
              Our credits will be super affordable for
              <b>any regular Upwork freelancer!</b>
              It's just about
              <b>₦12</b>
              per credit.
            </p>

            <p>
              So, you spend about
              <b>₦12</b>
              for each time you access the proposal submission page.
            </p>

            <p>
              Questions or concerns? Get in touch with us at
              workforreputation@gmail.com
            </p>
            <p>Best regards,</p>
            <p>WFR Toolkit Team</p>
          </article>
        </td>
      </tr>
    </table>
  </body>
</html>