<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Latest Update - Work for Reputation</title>
    <style>
      body { display: flex; justify-content: center; font-size: 15px; } section
      { padding: 0.5rem; } p { font-family: "Helvetica Neue", "Helvetica",
      Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px;
      line-height: 1.5; margin-bottom: 14px; font-weight: normal; color:
      hsl(238, 29%, 16%); } #resetPasswordHref{ transform: translate(-50%,
      -50%); left: 50%; } button { width: 60%; border-radius: 0.7rem;
      margin-top: 1rem; border: 0; padding: 1rem; font-size: 1.2rem; text-align:
      center; justify-self: center; background-color: #14a800; color: #fff;
      cursor: pointer; touch-action: manipulation; transition: 0.3s ease-in-out;
      } button:hover { background-color: #70c964; } picture{ width: 80%; height:
      auto; } picture img{ width: 100%; } img { margin-bottom: 20px; max-width:
      100%; border: 1px solid gray; border-radius: 5px; /* Ensure images scale
      */ height: auto; /* Maintain aspect ratio */ }
    </style>
  </head>

  <body>
    <table>
      <tr class="logo-container">
        <td align="center">
          <img
            src="https://i.imghippo.com/files/qY5NU1727694513.jpg"
            alt="wfr toolkit logo"
          />
        </td>
      </tr>

    </table>

    <section>

      <p>
        Hi
        {{customerName}}, We hope you're enjoying the WFR Toolkit and the value
        it brings to your Upwork freelancing journey.

      </p>

      <p>
        We wanted to let you know that due to a recent update, Chrome has
        automatically disabled the extension for some users.
      </p>

      <p>
        This update introduces a new permission for accessing our website,
        workforreputation.com, as part of our efforts to enhance the toolkit.
        Some of the latest features will soon transition to a
        <b>paid model</b>
        , allowing us to continue improving and delivering an even better
        experience tailored to your needs.
      </p>

      <p>

        <img
          src="https://i.ibb.co/kJyqCzf/chrome-asking-for-permissions.jpg"
          alt=""
        />
      </p>

      <p>
        To continue using the WFR Toolkit, please follow these quick steps:
      </p>

      <p>
        <b>1.</b>
        Go to
        <b>chrome://extensions/</b>
        in your browser.
      </p>

      <p>
        <img
          src="https://i.ibb.co/8xJf8V6/chrome-extension-page.jpg"
          alt="chrome-extension-page"
        />
      </p>

      <p>
        <b>2.</b>
        Find
        <b>WFR Toolkit</b>
        from the list of extensions
      </p>

      <p>
        <b>3.</b>
        Ensure the
        <b> extension toggle</b>
        is switched on. (Blue)

      </p>

      <p>
        <img src="https://i.ibb.co/rbT123V/re-enabled.jpg" alt="" srcset="" />
      </p>
      <p>
        If it's
        <b>off</b>
        (Gray), simply toggle it
        <b>back on</b>
        to
        <b>re-enable the extension.</b>
      </p>

      <p>
        Best regards,
      </p>

      <p>
        WFR Toolkit Team
      </p>

    </section>
  </body>

</html>