<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome - Work for Reputation</title>
    <style>
      body { font-size: 15px; background-color: rgba(222, 225, 228, 0.2);
      font-family: "Segoe UI", sans-serif; margin: 0; line-height: 24px; } table
      { max-width: 600px; width: 100%; margin: 0 auto; background-color: #fff;
      border-collapse: collapse; } td { padding: 10px; color: hsl(238, 29%,
      16%); } h2 { text-align: center; } p { font-size: 14px; line-height: 1.5;
      margin-bottom: 14px; font-weight: normal; } a#resetPasswordHref {
      text-decoration: none; } button { width: 100%; /* Make button full-width
      */ max-width: 200px; /* Limit max width */ border-radius: 0.7rem;
      margin-top: 1rem; border: 0; padding: 1rem; font-size: 1.2rem; text-align:
      center; background-color: #14a800; color: #fff; cursor: pointer;
      touch-action: manipulation; transition: 0.3s ease-in-out; } ul {
      list-style: none; padding-left: 0; } ul li { margin-bottom: 15px; } ul li
      img { margin-bottom: 20px; max-width: 100%; border: 1px solid gray;
      border-radius: 5px; /* Ensure images scale */ height: auto; /* Maintain
      aspect ratio */ } .logo-container img { width: 150px; height: auto; /*
      Maintain aspect ratio */ display: block; margin: 0 auto; /* Center logo */
      } a#resetPasswordHref:hover { background-color: #70c964; } /* Media
      Queries for Mobile Responsiveness */ @media (max-width: 600px) { body {
      font-size: 14px; /* Slightly smaller font */ } td { padding: 8px; /* Less
      padding on small screens */ } button { width: 90%; /* Wider button on
      mobile */ } h2 { font-size: 1.5em; /* Slightly larger heading */ } p {
      font-size: 13px; /* Smaller text on mobile */ } }
    </style>
  </head>
  <body style="background-color: rgba(222, 225, 228, 0.2);">
    <table>
      <tr class="logo-container">
        <td align="center">
          <img
            src="https://i.ibb.co/6Yg7Qrc/new-wfr-email-logo.jpg"
            alt="wfr toolkit logo"
          />
        </td>
      </tr>

      <tr>
        <td>
          <p>Hi {{name}},</p>
          <p>
            We're so excited that you've joined the WFR Toolkit community! Our
            platform is dedicated to helping Upwork freelancers like you land
            more jobs with less stress while saving valuable time.
          </p>
          <p>Keep reading to learn more!</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>
            If you'd like a personalized tutorial walkthrough to help you get
            the most out of WFR toolkit based on how you apply to jobs on
            Upwork.
          </p>
          <p>
            You can book a
            <b> free 5-10 minute meeting</b>
            with the developer below:
          </p>
          <div align="center" style="cursor: pointer;">
            <a
              title="Book meeting"
              id="resetPasswordHref"
              target="_blank"
              href="https://calendly.com/akovahh/30min?"
              style="display: inline-block; width: 60%; text-align: center; background-color: #14a800; color: #fff; padding: 1rem; border-radius: 0.7rem; font-size: 1.2rem; cursor: pointer; text-decoration: none; margin-top: 1rem; transition: 0.3s ease-in-out;"
            >
              Book meeting
            </a>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <h2>Top 5 Reasons Upwork Freelancers Use WFR Toolkit</h2>
          <ul>
            <li>
              <p>
                <b>1.</b>
                Automatic retrieval of client names for cover letter
                personalization saving you valuable time and effort.
              </p>
              <img
                src="https://i.ibb.co/R4hsWFV/getting-client-name-wfr-gif.gif"
                alt="Automatic retrieval of client names Gif"
              />
            </li>
            <li>
              <p>
                <b>2.</b>
                View words clients see first in your cover letter, so you can
                strategically optimize your opening lines, increasing your
                chances of getting your proposals viewed and getting hired.
              </p>
              <img
                src="https://i.ibb.co/GW8KnqP/view-what-client-see-first-gif-n.gif"
                alt="View words clients see first in your cover letter GIF"
              />
            </li>
            <li>
              <p>
                <b>3.</b>
                Get a summary of what it's like working with a client based on
                previous freelancers' feedback, giving you insight into whether
                a client is someone you want to work with.
              </p>
              <img
                src="https://i.ibb.co/fS6JKbM/get-summary-of-how-its-like-working-with-client-wfr.gif"
                alt="Get summary of how it's like working with a client gif"
              />
            </li>
            <li>
              <p>
                <b>4.</b>
                Save text templates to reuse (copy) while writing cover letters,
                eliminating repetitive typing and saving time.
              </p>
              <p>
                You can save text templates for various purposes, such as cover
                letters, project links, or cover letter closing remarks.
              </p>
              <img
                src="https://i.ibb.co/9Z9Dfvv/text-template-copy-tut-wfr-toolkit-gif.gif"
                alt="text-template-copy-tut-wfr-toolkit-gif wfr toolkit"
              />
            </li>
            <li>
              <p>
                <b>5.</b>
                Job post directly above your cover letter input box ensuring you
                don't have to scroll upwards to reference information from the
                job post again.
              </p>
              <img
                src="https://i.ibb.co/5nVg0wq/job-post-abover-cover-letter-gif-wfr-toolkit.gif"
                alt="Job post directly above your cover letter gif"
              />
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>
          <p>
            <b>NOTE: You can disable features you don't like in the change
              settings section on the extension homepage.</b>
          </p>
        </td>
      </tr>

      <tr>
        <td>
          <p>Questions or concerns? Get in touch with us at
            workforreputation@gmail.com</p>
          <p>Best regards,</p>
          <p>WFR Toolkit Team</p>
        </td>
      </tr>
    </table>
  </body>
</html>