:root {
  font-size: 62.5%;
}

/* === RESET.CSS === */
* {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* === RESET.CSS === */
* {
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Custom additions below: */

:root {
  font-size: 62.5%;
}

html {
  /* Fonts */
  font-family: "Kumbh Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-heading: 2.2rem;
  --font-size-summary-description: 1.6rem;
  --font-size-summary-detail: 1.5rem;
  --line-height-summary-detail: 1.8;

  /* Colors */
  /* blue */
  --red: #da020e;
  --dark-des-blue: #17252a;
  --dark-gray-blue: hsl(240, 6%, 50%);
  --light-gray-blue: hsl(240, 5%, 91%);
  /* violet & red */
  --deep-blue: #101c77;
  /* background */
  --background-col: #fff;

  /* z-index */
  --z-index-main: 10;
  --z-index-secondary: 5;
  --z-index-lowest: 1;
  overflow-x: hidden;
}

body {
  height: 100vh;
  display: grid;
  font-size: 1.6rem;
}

/* Auth Nav Design  */
.nav.auth-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo Design Block */

.logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.4rem;
}

.logoIconsContainer {
  font-size: 7px;
  position: relative;
}

.logo-container img {
  width: 4em;
  height: 4em;
}

.letter-f {
  position: absolute;
  top: -1em;
  left: 0.18em;
}
.letter-t {
  position: absolute;
  left: 1.6em;
}

.logo-title {
  margin: 0;
  position: relative;
  color: var(--deep-blue);
  font-size: 1.4rem;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .nav-bar .icon-title {
    margin-top: 0;
  }

  .logo-container {
    left: 4rem;
    padding-right: 3rem;
  }

  .auth-nav .logo-container {
    left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 960px) {
  .logo-container {
    left: 12rem;
  }

  .auth-nav .logo-container {
    left: 0;
  }
}

.hide {
  display: none;
}
.rotate {
  rotate: 180deg;
}

/* Nav Bar Design */

.nav {
  background-color: var(--background-col);
  border-bottom: 1px solid #eef1f6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6.5rem;
  z-index: 900;
}
.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
  margin-right: 2rem;
  transform: translate(0, -50%);
  top: 50%;
  width: 3rem;
}
.nav__toggle svg {
  width: 2rem;
  fill: var(--deep-blue);
}

.nav__toggle .close {
  display: none;
  fill: #ff3860;
}
.nav__toggle .menu {
  margin-top: 0.3rem;
}
.nav__checkbox {
  display: none;
}
.nav__menu {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 2rem;
  align-items: center;
  background-color: var(--background-col);
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #eef1f6;
  margin: 0;
}
.nav__menu li {
  padding: 0.6rem;
  list-style: none;
  display: none;
  font-weight: 600;
  background-color: var(--background-col);
  color: #101c77;
  transition: 0.3s;
}
.nav__menu li:first-child {
  margin-right: auto;
  display: block;
}

@media only screen and (min-width: 960px) {
  .nav__menu li:last-child {
    margin-right: 7rem;
  }
}

.nav__menu h3,
.nav__menu a {
  margin: 0;
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  cursor: pointer;
}

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}
#nav .nav-list {
  padding: 0.6rem;
}

.nav-list {
  transition: 0.3s;
}

.nav-list a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list h3 {
  color: var(--deep-blue);
  transition: color linear 0.3s;
}
.nav-list h3:hover,
.nav-list h3:focus {
  color: #020518;
}

.nav-list:hover,
.nav-list:focus {
  background-color: #fff;
  color: #020518;
  border-color: var(--deep-blue);
  filter: blur(0.05rem);
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }

  nav .nav-list {
    padding: 0 2.6rem;
  }
}

/* my Profile */
.myProfileIcon {
  height: 5rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.nav-list .userDashBoardLarge {
  display: none;
}
@media only screen and (min-width: 768px) {
  .nav-list .userDashBoardLarge {
    display: block;
  }
}

.mainNavIcons {
  width: 25%;
  float: right;
  margin-right: 1.5rem;
  max-width: 10rem;
}

@media only screen and (min-width: 768px) {
  .mainNavIcons {
    display: none;
  }
}

/* Cart Icon on Nav Bar Style*/

.cartIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Grey Shadow when hovered */
/* .cartIcon:hover:after {
  content: "";
  width: 4.3rem;
  height: 4.3rem;
  background: rgba(160, 143, 143, 0.2);
  position: absolute;
  border-radius: 50%;
}

.cartIcon:hover {
  cursor: pointer;
}

.cartIcon img {
  width: 3.7rem;
  height: 3.7rem;
}
.cartIcon img {
  width: 100%;
} */

.nav li.active {
  background-color: #b4b0d8;
}

/* Hero Component Block */
.hero-container {
  position: relative;
  height: 54rem;
  top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #101c77;
}

.hero-inner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;
  row-gap: 0.5rem;
  margin: 0 1.2rem;
}

@media only screen and (min-width: 480px) {
  .hero-inner-container {
    margin: 0 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero-inner-container {
    margin: 0 3rem;
  }
}

@media only screen and (min-width: 960px) {
  .hero-inner-container {
    margin: 0 10rem;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-inner-container {
    margin: 0 26rem;
  }
}

.hero-container h1 {
  font-size: 3.6rem;
  line-height: 1.4;
  letter-spacing: 0.6px;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .hero-container h1 {
    font-size: 4.3rem;
  }
}

@media only screen and (min-width: 760px) {
  .hero-container h1 {
    font-weight: 700;
    font-size: 5.5rem;
  }
}

.hero-container h3 {
  margin: 2rem 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  white-space: pre-wrap;
  text-align: center;
  letter-spacing: 0.6px;
}

@media only screen and (min-width: 480px) {
  .hero-container h3 {
    font-size: 1.73rem;
  }
}
@media only screen and (min-width: 760px) {
  .hero-container h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 3rem 0;
  }
}

@media only screen and (min-width: 960px) {
  .hero-container h3 {
    font-size: 1.9rem;
    font-weight: 400;
  }
}

/* Call to Action Section */
.sign-up-cont h3 {
  color: #fff;
  font-size: 1.6rem;
  padding: 0.3rem;
}

.sign-up {
  height: 4rem;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  background-color: var(--deep-blue);
  color: #fff;
  transition: background-color color 0.3s ease;
  cursor: pointer;
}

.sign-up:hover,
.sign-up:active {
  background-color: rgb(90, 93, 134);
  color: #fff;
}

.call-to-action-cont {
  text-align: center;
}

.call-to-action-cont ul {
  margin-top: 0.7rem;
  display: grid;
  row-gap: 1rem;
  letter-spacing: 0.3px;
  font-size: 1.7rem;
}

.oauth-button {
  height: 4.5rem;
  width: 17rem;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  background-color: #fdfdfd;
  box-shadow: none;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 4rem;
}

@media screen and (min-width: 760px) {
  .oauth-button {
    width: 20rem;
    margin-top: 2rem;
  }
}

.oauth-button:hover,
.oauth-button:active {
  background-color: rgb(199, 204, 243);
}

.oauth-button h2 {
  color: #333;
  margin: 0;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.6px;
}

.oauth-button a:hover {
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  .oauth-button h2 {
    font-weight: 600;
  }
}

@media screen and (min-width: 960px) {
  .oauth-button h2 {
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.floating-arrow {
  position: absolute;
  transform: translateX(50%);
  font-size: 1.7rem;
  animation: arrowFloat 2s infinite alternate;
}

@media screen and (min-width: 500px) {
  .floating-arrow {
    font-size: 2rem;
  }
}

@media screen and (min-width: 760px) {
  .floating-arrow {
    font-size: 3rem;
  }
}

@keyframes arrowFloat {
  5% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* .oauth-button section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  column-gap: 1rem;
}

.oauth-button .trello-icon {
  height: 3rem;
  width: 3rem;
} */

/* Trello Oauth Page Design */

.auth-page-main-cont {
  height: 100%;
  margin: 0 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 6rem;
}

.auth-page-main-cont p {
  padding: 0 12rem;
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .auth-page-main-cont {
    margin: 0 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .auth-page-main-cont {
    margin: 0 5rem;
  }
}

@media only screen and (min-width: 960px) {
  .auth-page-main-cont {
    margin: 0 15rem;
  }
}

@media only screen and (min-width: 1200px) {
  .auth-page-main-cont {
    margin: 0 28rem;
  }
}

.auth-page-main-cont h1 {
  color: #020518;
}

.authorize-image-desc {
  height: 10rem;
  display: flex;
  column-gap: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(246, 246, 247);
}

.authorize-image-desc article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authorize-image-desc h3 {
  color: var(--dark-des-blue);
  font-size: 2rem;
}

.authorize-image-desc img {
  height: 4rem;
}

/* Below Hero Block */
.product-pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 1.5rem;
  background-color: rgba(102, 67, 255, 0.2);
  padding-bottom: 3rem;
}

@media screen and (min-width: 960px) {
  .product-pic-container {
    flex-direction: row;
    column-gap: 5rem;
    flex-wrap: wrap;
  }
}
.product-pic-container h2 {
  color: #020518;
  margin-bottom: 0;
}

.product-pic-container img {
  position: relative;
  border-radius: 0.6rem;
  width: 90%;
  max-width: 40rem;
  border: 1px solid gray;
  border-radius: 0.6rem;
}

/* Testimonials Block */

.testimonials-cont {
  margin-top: 2rem;
  text-align: center;
}

/* Below Testimonial Block */

.below-testimonial-cont {
  background-color: rgba(48, 11, 184, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 5rem;
}

.below-testimonial-cont li p {
  font-size: 1.6rem;
  font-weight: 500;
}
