:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

.nav {
  background-color: #fff;
  color: #222;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  height: 6rem;
}

.site-title {
  font-size: 3rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  column-gap: 7rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.nav li.active {
  background-color: #531212;
}
.nav li:hover {
  background-color: #777;
}
.nav-bar-container {
  display: flex;
  font-size: 1.6rem;
  display: block;
}

.nav-items-cont {
  display: flex;
  justify-content: space-between;
}

.nav-items-cont li {
  list-style: none;
}

/* Hero Component Block */
.hero-container {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(
    45deg,
    #0c3798,
    #0c3798,
    #0c3798,
    #6d89f6,
    #0c3798,
    #0c3798
  );
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.hero-container h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: start;
  color: #ffffff;
  display: inline-block;
}

.hero-container h3 {
  margin: 0 auto 5.6rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.6px;
  color: #ffffff;
  white-space: pre-line;
}

.oauth-button {
  border: 1px solid red;
  color: #fff;
  text-decoration: none;
}

.oauth-button h2 {
  margin: 0;
  padding: 1.5rem;
}
