/* === RESET.CSS === */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background: none;
  outline: none;
}

/* Custom additions below: */

html {
  /* Fonts */
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-heading: 2.6rem;
  --font-size-summary-description: clamp(1.3rem, 1.2545rem + 0.1212vw, 1.4rem);
  --font-size-summary-detail: 1.2rem;
  --line-height-summary-detail: 1.8rem;

  /* Colors */
  /* blue */
  --dark-des-blue: hsl(238, 29%, 16%);
  --very-dark-gray-blue: hsl(237, 12%, 33%);
  --dark-gray-blue: hsl(240, 6%, 50%);
  --light-gray-blue: hsl(240, 5%, 91%);
  --soft-blue: hsl(240, 73%, 65%);
  /* violet & red */
  --prim-blue: #101c77;
  --violet: hsl(273, 75%, 66%);
  /* background */
  --background-col: #fff;

  /* z-index */
  --z-index-main: 10;
  --z-index-secondary: 5;
  --z-index-lowest: 1;
  overflow-x: hidden;
}

/* body {
  height: 100vh;
} */

h1,
h2,
h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 1.8rem;
}

/* Main Container Block */
.main-container {
  position: relative;
  padding: 1.5rem 2.1rem;
  display: flex;
  flex-direction: column;
  top: 3rem;
  height: 80vh;
}

.main-container h5 {
  font-size: 1.5rem;
  letter-spacing: 0.3px;
  color: var(--dark-des-blue);
  padding-top: 0.7rem;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
}

@media (min-width: 768px) {
  .main-container {
    background-color: #fff;
    top: 7rem;
    max-width: 40rem;
    height: 46rem;
    max-height: 46rem;
    width: 100%;
    padding: 0 4.5rem;
    border: 1px solid #d3d3d3;
    border-radius: 0.4rem;
    box-shadow: 0 0 0.5rem 0 rgba(42, 45, 48, 0.12);
    transition: all 0.3s ease;
    margin: 1rem auto;
    position: relative;
  }
}

/* Input Form Design Block */

form {
  display: grid;
}

input,
.input-wrapper,
.innerInputWrapper {
  border-radius: 0.5rem;
}

.input-wrapper {
  display: block;
  margin-bottom: 4rem;
  background-color: #fff;
  width: 97%;
  height: 4rem;
  outline: 0;
  rotate: 0.6deg;
}

.input-wrapper label {
  margin-bottom: 2rem;
}

.input-wrapper p {
  position: relative;
  top: -0.3rem;
}

.input-wrapper input {
  width: 100%;
  padding: 0.4rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  height: 100%;
  letter-spacing: 0.5px;
  color: var(--dark-des-blue);
}

.input-wrapper input::placeholder,
.input-wrapper p {
  rotate: -0.6deg;
}

.innerInputWrapper input:focus {
  outline: none;
  border: none;
}

.input-wrapper .error {
  text-align: left;
  color: #ff3860;
  font-size: 1.5rem;
  margin-top: 0.4rem;
}

.innerInputWrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  padding: 0 0.5rem;
}

.innerInputWrapper input {
  border: 0;
}

.innerInputWrapper button img {
  width: 2.3rem;
  cursor: pointer;
  height: 100%;
}
.innerInputWrapper button img:hover button {
  background-color: gray;
}

/* Button Design Block */

.submit-btn {
  width: 100%;
  border-radius: 1.8rem;
  margin-top: 1rem;
  border: 0;
  padding: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
  justify-self: center;
  background-color: var(--prim-blue);
  color: #fff;
  cursor: pointer;
  touch-action: manipulation;
  transition: 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #17252a;
}

label {
  font-size: 1.6rem;
  background-color: transparent;
  text-align: left;
  color: var(--dark-des-blue);
}

.input-wrapper label p {
  position: static;
  margin-bottom: 0.3rem;
  text-align: left;
}

.main__title {
  position: relative;
  margin: 0 0 2.9rem 0;
  text-transform: capitalize;
  top: 3rem;
}

.main__title h2 {
  color: var(--dark-des-blue);
  font-weight: 600;
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.email-sent-title h2,
.reset-pass-title h2 {
  text-align: left;
}

.email-sent-title h2 {
  padding-bottom: 2rem;
}

.reset-pass-title h2 {
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .main__title {
    margin: 2.9rem 0 2.9rem 0;
    top: 0;
  }

  .main__title h2 {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
  }
}

.work-for-rep-title {
  margin-top: 0;
}

.policy-agreement-text {
  color: var(--dark-des-blue);
  text-align: left;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0;
  padding-bottom: 1rem;
  line-height: 1.3;
}

.forgot-password {
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  margin-top: -0.5rem;
  color: var(--prim-blue);
  transition: 0.3s ease-out;
  text-decoration: none;
}

.widthRegulator {
  visibility: hidden;
}

a {
  color: var(--prim-blue);
  transition: 0.3s ease-out;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #17252a;
}

.prompt-message h3 {
  color: var(--dark-des-blue);
  font-weight: 300;
  font-size: 1.6rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .prompt-message h3 {
    color: var(--dark-des-blue);
    font-weight: 300;
    font-size: 1.6rem;
    padding-bottom: 2rem;
  }
}
/* Footer Block */

.footer {
  position: relative;
  display: block;
  background-color: #fff;
  z-index: 1;
  text-align: center;
  color: #bac1c7;
  font-size: 1.6rem;
  margin-top: 7rem;
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 0 auto;
    padding: 3.9rem 0 4.2rem;
    top: 10rem;
  }
}

/* Email Sent Page Styles */
.reset-pass-info h3 {
  color: var(--dark-des-blue);
  margin-top: 0;
  font-size: 1.4rem;
  text-align: left;
  padding-bottom: 2rem;
  font-weight: 300;
}

/* Password Reset Page Styles */
.password_reset-success {
  position: fixed;
  background-color: var(--prim-blue);
  color: #fff;
  height: 5rem;
  width: 28rem;
  z-index: 4;
  align-self: flex-start;
  top: 9rem;
  display: none;
}

.password_reset-success h3 {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.2;
  padding: 0.3rem;
}

/* Forgot-Password Page Styles */

.forgot-pass-info h3 {
  color: var(--dark-des-blue);
  margin-top: 0;
  font-size: 1.4rem;
  text-align: left;
  padding-bottom: 2rem;
  font-weight: 300;
}
