.cartIcon,
.logoutIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Grey Shadow when hovered */
.cartIcon:hover:after {
  content: "";
  width: 4.3rem;
  height: 4.3rem;
  background: rgba(160, 143, 143, 0.2);
  position: absolute;
  border-radius: 50%;
}

.cartIcon:hover,
.logoutIcon:hover {
  cursor: pointer;
}

.cartIcon img,
.logoutIcon img {
  width: 2.2rem;
  height: 3rem;
}
.cartIcon img,
.logoutIcon img {
  width: 100%;
}

/* User Account Design Block */
.dashboard-container {
  margin-top: 8rem;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0 2rem;
}

.profileBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .profileBlock {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
  }
}

.userAccountIconContainer {
  justify-self: left;
  text-align: left;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  .userAccountIconContainer {
    grid-column: 2/6;
    justify-self: end;
    margin: 0 3rem;
    width: 20rem;
    max-width: 25rem;
  }
}

.userAccountIcon {
  width: 10rem;
  height: 10rem;
}

@media only screen and (min-width: 768px) {
  .userAccountIcon {
    width: 20rem;
    height: 20rem;
  }
}

.profile {
  width: 100%;
}

.profileDetails {
  justify-self: center;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .profileDetails {
    grid-column: 6/-1;
    justify-self: start;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
    width: 55rem;
    max-width: 60rem;
  }
}
.profileDetails article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: left;
  justify-items: left;
  align-items: center;
  border-bottom: 1px solid transparent;
}

.profileDetails article h2 {
  text-align: left;
}

.profileDetails label {
  font-weight: 500;
}
.profileDetails .name {
  display: block;
}

.profileDetails .name {
  border-bottom: none;
}

.name,
.email {
  text-align: left;
}

.name h2 {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 0.2rem;
  color: var(--dark-des-blue);
  margin-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .name h2 {
    font-size: 3.3rem;
  }
}

p {
  text-align: right;
}

.profileLink label {
  min-width: 9rem;
  width: 9rem;
  text-align: left;
}

/* Logout Block */

.logoutContainer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutLink {
  display: flex;
  width: 16rem;
  height: 7rem;
  max-width: 30rem;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  border-radius: 0.6rem;
  padding: 0.4rem;
  color: var(--dark-des-blue);
}

.logoutLink:hover {
  background-color: rgba(44, 42, 42, 0.2);
  color: red;
}

.logoutLink h3 {
  font-size: 1.6rem;
}

/* Circular Shadow on Logout Button */
.logoutIcon:after {
  content: "";
  width: 5.5rem;
  height: 5.5rem;
  background: rgba(160, 143, 143, 0.2);
  position: absolute;
  border-radius: 50%;
}

/* Grey Shadow when hovered */
.logoutIcon:hover:after {
  background: rgba(44, 42, 42, 0.2);
}

/* Table Block */

table {
  margin-top: 2rem;
  width: 100%;
}

table,
td,
tr {
  border-bottom: 1px solid #f2f2f2;
  border-collapse: collapse;
  padding: 1rem 0;
  color: var(--dark-des-blue);
  text-align: left;
  font-size: 1.6rem;
}

/* tr {
  width: 100%;
} */

tr td:first-child {
  font-weight: 500;
  font-size: 1.7rem;
}

tr .value {
  text-align: left;
  padding-top: 0;
}

tr .jobRelatedKeyword,
tr {
  min-width: 15rem;
}

tr:last-child td {
  border-color: transparent;
}

/* Change Password Block  */

.change-password-section h2 {
  color: var(--dark-des-blue);
  text-transform: lowercase;
  margin: 2rem 0;
  margin-top: 6rem;
}

.change-password-section h2::first-letter {
  text-transform: capitalize;
}
